<div class=" AssignDeveloper">

  <h1 class ="text-center my-5 mx-5">Assign or Remove Developer and QAs from the Project</h1>
  <br>

  <div class="user-assignment-container">
    <%= render 'user_assignment' %>
    <%= link_to 'Back', projects_path %>
  </div>

</div>