<div class="form">
    <h1>New Bug</h1>
    <div class="my-5">
        <%= render  'form', bug: @bug , project: @project %>
        <%= link_to 'Back', projects_path %>
        <%= link_to 'See all bugs in project', project_bugs_path(params[:project_id]) %>
    </div>
 </div>